body 
    background #2E4C7E
    font-family Helvetica, Verdana, Arial, sans-serif
    color white

#chating
    display none

input, #messages 
    border-radius 5px
    border 2px solid #849BC8
    color black

#input 
    width 200px

#messages 
    position fixed
    top 40px
    bottom 8px
    left 8px
    right 8px
    padding 8px
    background white