extends layout

block content

  div#login
    span Qual o seu nome? 
    input#username(type="text")
    button#send Entrar

  div#chating
    span Sua mensagem: 
    input#input(type="text")

  div#messages

  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/jquery.js")
  script(src="/javascripts/main.js")