body {
  background: #2e4c7e;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: #fff;
}
#chating {
  display: none;
}
input,
#messages {
  border-radius: 5px;
  border: 2px solid #849bc8;
  color: #000;
}
#input {
  width: 200px;
}
#messages {
  position: fixed;
  top: 40px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  padding: 8px;
  background: #fff;
}
